/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  width: 100%;
  margin: auto;
  background-color: rgb(45, 133, 206);
  color: #fff;
  padding: 15px 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 50;
  font-weight: 700;
}

/* Main section */
main h1 {
  background-size: cover;
  color: rgb(45, 133, 206);
  padding: 20px 0;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
}
main p {
  font-size: 17px;
  padding-left: 20px;
}
main p span {
  color: rgb(45, 133, 206);
}
#linkbutton {
  padding: 10px 20px;
  border: 10px 20px;
  margin-right: 35px;
  display: inline-block;
  color: orange;
  border-style: solid;
  text-align: left;
  border-radius: 10px;
}
#socialinstagram {
  color: white;
  font-weight: 200px;
  padding: 10px 20px;
  margin-right: 35px;
  margin-bottom: 10px;
  display: inline-block;
  border: 10px 20px;
  border-style: solid;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 0px 4px 1px -2px grey;
}
#socialfacebook {
  color: white;
  display: inline-block;
  font-weight: 200px;
  padding: 10px 20px;
  margin-right: 35px;
  margin-bottom: 10px;
  border: 10px 20px;
  border-style: solid;
  background-color: blue;
  border-radius: 10px;
  box-shadow: 0px 4px 1px -2px grey;
}
#socialyoutube {
  color: white;
  display: inline-block;
  font-weight: 200px;
  padding: 10px 20px;
  margin-right: 35px;
  margin-bottom: 10px;
  border: 10px 20px;
  border-style: solid;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0px 4px 1px -2px grey;
}
footer {
  background-color: rgb(45, 133, 206);
  color: white;
  padding: 20px;
}
#location {
  padding-left: 40px;
}
